<tds-header>
  <tds-header-title>Application</tds-header-title>
  <tds-header-brand-symbol slot="end">
    <a
      aria-label="Scania - red gryphon on blue shield"
      href="https://scania.com"
    ></a>
  </tds-header-brand-symbol>
</tds-header>

<div
  class="tds-u-h-100 tds-u-w-100 tds-u-flex tds-u-flex-dir-col tds-u-gap3 tds-u-justify-center tds-u-align-center tds-u-pt3"
>
  <div class="tds-headline-01 tds-u-center">Welcome to Tegel</div>
  <img class="tds-u-w-25" src="../assets/logo.svg" />
</div>
